<div class="card">
    <div class="card-header">Datatable</div>
    <div class="card-body datatable-padd">

        <!-- row for table header -->
        <div class="row">
            <div class="col-sm-12 col-md-6 datatable_length">
                <span>Show </span>
                <label>
                    <select class="form-control form-control-sm" (change)="onPerPageRecordsCountChange($event)" [(ngModel)]="perPageRecords">
                            <option *ngFor="let count of perPageCountDropdown" value="{{count}}">{{count}}</option>
                    </select>
                </label>
                <span> records</span>
            </div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <!-- row for table header ends-->
        <!-- table data -->
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th><input type="checkbox" class="checkbox checkbox-primary"></th>
                            <th *ngFor="let column of columns" id="{{column.value}}">
                                <div>
                                    {{column.header}}
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th *ngFor="let column of columns" id="{{column.value}}">
                                <div *ngIf="column.search=='true'">
                                    <input style="display: block" type="text" placeholder="Search {{column.header}}" id="search_{{column.value}}" (keyup)="onSearch()" [(ngModel)]="searchTerms[column.value]">
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="totalRecords > 0">
                        <tr *ngFor="let row of visibleRecords">
                            <td>{{row}}</td>
                            <td><input type="checkbox" class="checkbox checkbox-primary"></td>
                            <td *ngFor="let column of columns">{{ tableData[row-1][column.value] }}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="totalRecords <= 0">
                        <tr style="text-align: center">
                            <td [attr.colspan]="columns.length + 2"> No Record Found </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- table data ends -->

        <!-- pagination and other footer controls -->
        <div class="row">
            <div class="col-sm-12 col-md-6 clear-padding">
                <span>Showing {{startRecord}} to {{endRecord}} of total {{totalRecords}} enteries</span>
            </div>
            <div class="col-sm-12 col-md-6 clear-padding">
                <div class="float-right" *ngIf="totalPages > 1">
                    <ul class="pagination">
                        <li class="page-item" *ngIf="startPage > 1" id="prev" (click)="previousBlock()"><a class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                        <ng-container *ngFor="let item of pageArray">
                            <li class="page-item" [ngClass]="item == currentPage ? 'active' : ''" id="{{item}}" (click)="onPageChange(item)"><a class="page-link">{{item}}</a></li>
                        </ng-container>
                        <li class="page-item" *ngIf="endPage < totalPages" id="next" (click)="nextBlock()"><a class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                    <div>
                        Showing {{startPage}} to {{endPage}} of total {{totalPages}} pages
                    </div>
                </div>
            </div>
        </div>
        <!-- pagination and other footer controls ends -->
    </div>
</div>
<!--  -->