th:hover {
    cursor: pointer;
}

.datatable-padd {
    padding: 2%;
}

.perPageCount {
    padding: 0 0 1% 0;
}

.clear-padding {
    padding: 0% !important;
}

li a:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    background-color: #f5f5f5 !important
}

.not-disabled {}